<pre style="margin-top:30px;line-height:18px;">

《奇珀平台开发者平台授权协议》

被授权方：上海果致电子科技有限公司（甲方）
授权方：应有程序开发者或所有者（乙方）

一、前言

1、本协议适用于所有在奇珀平台发布应用程序作品（以下简称“授权软件”）的开发者及应有程序作品所有者（以下简称“乙方”）。在乙方发布应有程序作品前，须同意并接受本协议的全部内容，否则乙方将无法通过奇珀平台发布和传播任何作品。
2、乙方将通过点击本页面下方的“同意”按钮的方式接受本协议。这意味着乙方已经仔细阅读本协议的全部条款并充分了解可能存在的一切风险和责任，并且承诺承担本协议下的全部责任和义务。
3、甲方为乙方提供免费的发布平台和服务，但不排除今后就所提供的服务及其他新增服务收取费用或分享乙方收益的可能。费用的数额、比例以及收益分享模式将由双方另行协商确定。
4.乙方同意，授权软件的授权在授权期内是不可撤销的；

二、授权范围

乙方将授权软件发布至奇珀平台后，甲方有权在下列范围内使用授权软件：
1、甲方有权在奇珀平台（包括奇珀官网www.7po.com、奇珀市场、商店官网及甲方关联公司拥有并运营的媒体网站等）向用户提供下载、使用的相关服务；
2、甲方有权在甲方或与甲方合作的第三方开发、销售的硬件（包括但不限于TV端、PC、PAD、手机、IPTV、数字电视等）上预装授权软件，供用户使用，但应保留作品原有的著作权标识或信息；
3、甲方有权将授权软件在合作方的渠道进行传播、推广和宣传（包括但不仅限于互联网推广、刻录到光盘、软盘及SD卡、手机内置或发布到其他软件下载平台），授权用户下载和使用，但应保留作品原有的著作权标识或信息。

三、授权费用

授权软件为免费授权使用，甲方无须向乙方支付授权使用费。

四、授权期限：

授权软件的授权期限为2年，自授权软件上传至奇珀平台之日起算；每次授权期满，若乙方无意继续授权甲方使用授权软件的，乙方均应书面通知甲方停止授权，否则授权期自动续延2年。

五、知识产权

1、乙方保证对授权软件拥有合法及完整的知识产权级授权能力，授权软件未侵犯任何第三方的权益，包括但不限于著作权、专利权、非专利技术的专有权等知识产权，因授权软件知识产权产生的任何纠纷由乙方负责协调、解决，与甲方无涉；如由此引发第三人向甲方及其关联公司提出索赔、诉讼或其他程序，乙方应对甲方和其关联公司因此产生的全部损失（包括合理的律师费）进行赔偿，并使其免受损害。
2、当乙方丧失对授权软件的授权能力或知识产权时，乙方应当及时通知甲方将授权软件进行下架处理；乙方未履行或未适当履行通知义务使得甲方遭受的全部损失，乙方均应予以赔偿。

六、安全性及适用性承诺

1、乙方应当保证授权软件无病毒、无重大技术瑕疵，安装授权软件不会对用户的终端产生任何损害。
2、若在授权期内，甲方或甲方用户发现授权软件存在技术瑕疵，甲方有权对授权软件作下架处理，并通知乙方进行修改、升级。
3、因作品缺陷或乙方故意或重大过失导致的甲方、用户或其他第三方的一切风险与损失，乙方应承担全部责任，并赔偿因此造成的甲方全部损失。

七、免责条款

1、甲方仅提供平台服务，对于乙方提供授权软件的著作权的所有权及内容信息的真实性、合法性不作审查，乙方应自行保证提供的授权软件的传播符合法律法规的相关规定，因此造成的甲方损失，乙方应当负责赔偿。
2、甲方有权根据自身策略的调整，对授权软件进行删除、移动位置或者做其他调整；对于此类情形下可能造成的风险，乙方应充分了解并同意自行承担由此可能造成的一切不利后果和损失。
3、因不可抗力（包括但不限于火灾、水灾、地震、台风、自然灾害，以及政府法律、法规、命令的更改，运营商技术和通讯原因）导致本协议无法履行或未能达到本协议约定的经营目标，不承担责任。如发生不可抗力事件后，遭受该事件影响的一方应立即以可能的最快捷的方式通知对方，由双方协商相应解决方案。

八、协议的解释、变更及终止

1、甲方有权在必要时修改本《开发者合作协议》，协议一旦发生变动，将会在页面上提示修改内容。若乙方不同意该等内容变更的，乙方应当书面向甲方提出取消授权，甲方应当在接到乙方书面文件后五个工作日内在授权范围内删除该授权软件；若乙方在修改作出后仍然使用奇珀平台或接受奇珀平台服务的，视为乙方接受本协议的变更。
2、当下列情况出现时，甲方可以随时中止本协议：
(1) 乙方违反了本协议中的任何规定；
(2) 法律法规要求终止本协议；
(3) 甲方认为实际情形不再适宜继续执行本协议的。

九、通知与送达

甲方可通过网页公示或邮件提醒的方式向乙方进行任何通知，当甲方在网页上公示或向乙方发出邮件时，视为该通知已经送达乙方。

十、法律管辖

1、本协议自乙方点击本协议“同意”按钮并上传授权软件后生效，因本协议的履行产生的争议双方应友好协商解决，协商不成的，各方应向甲方所在地人民法院诉讼解决。
2、本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖

</pre>

