<pre style="margin-top:30px;">

《奇珀开发者服务协议》



发布时间：2014年1月1日



甲方：开发者



乙方：上海果致电子科技有限公司

地址：上海市三门路561号复旦软件园3C04

电话：021-60539682

开发者中心客服：2355564592



    甲乙双方经友好协商，本着互惠互利的原则，就乙方向甲方提供信息存储空间服务，以及乙方将甲方的开发产品上传到应用平台的的合作事宜达成如下协议条款，以资遵守：



一、标的



    1.甲方加入乙方的“奇珀开发者中心”，使用“奇珀开发者中心”提供的功能和服务，并遵守《奇珀开发者服务协议》的要求。

　　2.甲方接受乙方提供的信息存储空间服务，将甲方研发并拥有知识产权的甲方产品（具体产品以甲方后台自主提交为准）上传至乙方经营的相关互联网平台。前述乙方经营的相关互联网平台包括但不限于乙方经营的网站（如www.7po.com）、以及其他乙方经营的基于互联网的数字平台。

　　　

二、合作方式



　　1.甲方同意遵守奇珀开发者的相关规章制度。

   2.乙方为甲方产品的宣传提供以下相关推广服务：在商城、工具软件、论坛、网站、手机预装等渠道向用户提供甲方产品的发行、推广、捆绑销售、预装、下载等服务。



三、权利与义务



    （一）甲方的权利和义务

    1.甲方有权使用乙方平台的各项技术及服务，包括数据统计、兼容测试等。

    2.甲方负责甲方产品的客户服务和日常维护工作，并保证稳定运行。

3.根据市场用户反映的情况，乙方可以建议甲方对其产品依市场运营实际情况进行适当的机型适配、产品升级、更换图片资源，或提供不同语言的版本等调整。

　　4.甲方保证提供的产品不存在明显质量问题、或严重BUG，若在甲方产品运营的过程中出现BUG等质量问题并严重影响用户对乙方的市场评价，乙方可建议甲方进行修正或将甲方产品临时下架，甲方应给予积极配合。

    5.作为甲方产品中的一部分，甲方可在产品中自行增加连接网站和广告等内容。甲方需对增加的连接网站和广告内容负全部责任。出于对用户体验的考虑，乙方不建议甲方在其产品中增加过多的广告内容。

    6.甲方保证甲方产品符合中国的法律规定，不包括任何色情、政治等非法信息，不存在盗取、破坏用户数据及系统、侵犯用户隐藏的内容。有任何违法犯罪行为，相关责任由甲方自行负责。

7.甲方保证其具备合法资格从事本协议规定的服务，其提供的产品及其相关信息（包括但不限于甲方产品中所含的任何内容、元素、创意、程序、代码、算法、文字、图像、声音、视频、肖像）具有合法版权，不违反任何法律法规，也不侵犯任何第三方的合法权益。如甲方产品侵犯他人知识产权，而导致乙方被任何第三方追究任何责任，甲方应承担因此给乙方造成的全部经济损失。



    （二）乙方的权利和义务

    1.乙方在奇珀开发者中心、web奇珀市场、奇珀论坛、奇珀渠道中心等平台产品，应对于甲方的产品提供必要的市场宣传和推广。

    2.乙方负责开发者平台各项服务的日常维护工作，并保证稳定运行。

    3.乙方保证其具备合法资格从事协议规定的服务，为宣传提供甲方产品的相关推广和运营行为均合法有效，不违反任何法律法规，也不侵犯任何第三方的合法权益。有任何违约侵权行为，相关责任乙方承担。



四、知识产权



    1.甲方上传至乙方互联网平台的甲方产品（包括但不限于许可软件中所含任何声音、音乐、图像、照片、动画、录像、视频软件以及应用程序），其所有权仍归甲方所有，包括但不限于专利、著作权等知识产权，并不因甲方接受乙方所提供的信息存储空间服务而有所改变。

    2.乙方不得以任何方式遮盖甲方产品的著作权标识，乙方应在向用户推广使用甲方产品时说明其为甲方所有。

    3.因双方合作需要，由乙方独立开发的技术、开发工具、宣传资料等权益，归乙方所有，并不因双方的合作而有所改变。

    4.如有需要，由双方合作开发的技术、工具，或制作的广告、宣传资料等权益，归双方共有，但双方需另行订立书面协议。

    5.甲方保证通过乙方而合法使用甲方产品的最终用户都能够获得必要的许可。

    6.甲方产品如涉及到第三方版权，甲方应与第三方如制片公司，美工师、摄影师、模特儿、演员，和/或任何牵涉之个人、公司或组织签署合约，确保甲方享有相关权利，并在甲方上传其产品至乙方平台时将相关合约及时出示给乙方。如果因甲方违反前述约定而导致乙方被任何第三方追究侵权责任，甲方应承担因此给乙方造成的全部经济损失。

    7.任何一方在本协议所列甲方产品的开发、生产或宣传中可使用对方的商标、商号等商业标识，但应通知对方知晓并同意。

    8.一方故意或过失导致的该方及其员工以及其协议厂商或其他任何人对对方企业标识或知识产权的侵犯，应由该方承担违约或侵权责任。



五、保密



    1.对于双方为对方提供的各种开发工具、技术、统计数据等，双方均有义务为对方保守机密，并制定公司规章保证自方雇员不泄露机密。

    2.有关法律、法规、政府部门、证券交易所或其它监管机构要求和甲乙双方的法律、会计、商业及其它顾问、授权雇员除外。

    3.在不可抗力消失后，双方应继续执行协议。



六、免责及赔偿条款



    1.任何一方直接或间接违反本协议的任何条款，或不承担或不及时、充分地承担本协议项下其应承担的义务即构成违约行为，守约方有权以书面通知要求违约方纠正其违约行为并采取充分、有效、及时的措施消除违约后果，并赔偿守约方因违约方之违约行为而遭致的损失。若违约方在收到守约方关于其违约行为的上述通知后10日内未纠正其违约行为，守约方有权以书面通知的方式单方提前终止本协议，并追究违约方之违约责任。

    2.在违约事实发生以后，经守约方合理及客观的判断，该等违约事实已造成守约方履行本协议项下其相应的义务已不可能或不公平，则守约方有权以书面形式通知违约方提前终止本协议，违约方应赔偿守约方因违约方之违约行为而遭致的损失。





七、不可抗力



    1.任何一方由于自身合理控制以外的原因而无法履行本协议项下义务的，无须承担责任，如由于不可抗力、地震、洪水、政府行为、政策变更、大规模病毒爆发或互联网故障（非由于甲乙双方的行为引起的）。但是受影响的一方应立即通知对方，且尽力减少损失。

    2.在不可抗力消失后，双方应继续执行协议。



八、协议有效期



    协议自甲方确认之日起生效，直到甲方将全部产品从乙方平台下架并书面通知乙方终止协议后终止。



九、协议有效区域



    协议有效区域为全球。



十、争议解决与适用法律



    1.协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。

    2.如甲乙双方就本协议内容或其执行发生任何争议，甲乙双方应进行友好协商；不能达成一致，双方同意提交乙方所在地人民法院管辖。



十一、协议条款有效性



    1.双方以电子方式签署协议，协议最新版本可通过乙方平台查询到，乙方如更新协议内容可通过甲方注册预留的电子邮件通知甲方，甲方在15天之内如不提出异议视为接受更新内容。

    2.如本协议包含的某一条款或某些条款无论在任何方面由于任何原因被认为无效、非法或不可执行，则这种无效性、非法性或不可执行性将不影响本协议中的任何其它条款及整个协议的有效性，本协议将被视作从未包含过这类条款。

</pre>

