<nav>
	<a href="/user/my_apps">我的应用</a>
	<a href="/user/msg">消息#{'<var>(%d)</var>' % current_user['new_msg'] if current_user.get('new_msg', 0) else ''}</a>
	<a href="/user/setting" class="current">设置</a>
    <?py include('nav_ad.html') ?>
</nav>

<style>
.track {background:url(/static/dev/image/appcenter.png) no-repeat 40px center; }

.dev_type {margin:0 auto;width:370px;height:36px;}
.dev_type a {position:absolute;display:inline-block;width:200px;height:36px;line-height:36px;font-size:14px;font-weight:bold;text-align:center;border-radius:28px;border:1px solid #1876B7;}
.dev_type a:nth-of-type(1) {color:#1876B7;}
.dev_type a:nth-of-type(2) {background-color:#1876B7;color:#FFF;right:0px;}
#base_info {height:160px;}
#desc_info {height:400px;}
.info_t {display:inline-block;height:16px;width:100%;font-size:14px;font-weight:bold;color:#1876B7;line-height:16px;}
.hr {background:url(/static/dev/image/split.png) repeat-x left center;display:inline-block;width:540px;height:16px;margin:auto;float:right;}
label {width:215px;}
.inline {display:inline-block;font-size:14px;}
.error {background:url(/static/dev/image/err.png) no-repeat center center;}
.info {background:url(/static/dev/image/suc.png) no-repeat center center;}
.dev_note {color: #aaa;margin-left: 230px;}
.uploadify {display:inline-block;}
.file_name {display:inline-block;margin-left:10px;}
form>div {margin-top:5px;}
.end {text-align:center;margin-top:12px;}
.end button {margin-left:70px;}
.middle {margin-left:70px;text-align:center;margin-bottom:10px;}
#appcent {width:940px;margin:0 auto;margin-bottom:80px;}
.right_content {width:695px;overflow:hidden;background-color:#f8f8f8;padding:20px 40px;height:300px;}
input[type=text] {background-color:#f8f8f8;}
.limit_text {display:inline-block;width:240px;height:110px;border:2px solid #D0D0D0;border-radius:5px;}
.limit_text textarea {appearance:none;-webkit-appearance:none;-moz-appearance: none;border:none;resize:none;padding:10px;width:236px;height:80px;background-color:inherit;}
	.hover {border-color:#1876b7;}
.limit_text p {font-size:14px;color:#A6A6A6;text-align:right;padding-top:4px;padding-right:8px;}
.limit_text .curr_num {display:inline;margin:0px;color:#A2BED9;}
.vtop {vertical-align:top;}
.callback {background-color: #505050;color: #fff;display: inline-block;font-size: 12px;line-height: 28px;margin-left: 280px;margin-top: 20px;padding: 0 15px;}
</style>
<p class="track">设置 &gt; <span>修改密码</span></p>
<div id="appcent">
	<div class="left_menu">
		<a href="/user/setting" class="menu first_menu">申请服务开通</a>
		<a href="/user/edit_password" class="menu last_menu curr_menu">修改密码</a>
	</div>
	<div class="right_content develop">
		<form method="post" action="">
			<div>
				<label>原密码</label>
				<input type="password" name="old_password" value=""/>
			</div>
			<div>
				<label>新密码</label>
				<input type="password" name="new_password" value=""/>
				<p class="dev_note">请输入6-12位新密码</p>
			</div>
			<div>
				<label>新密码确认</label>
				<input type="password" name="new_password2" value=""/>
			</div>
			<div class="end">
				<button type="submit">修改密码</button>
			</div>
			<span class="callback">#{msg}</span>
		</form>
	</div>
</div>