<script>
$(function(){
	//$('#email').inputTip({tip_val:"示例：example@7po.com"});
	$('form').validate({
		errorElement:'em',
		errorClass:'icon_err',
		onkeyup:false,
		rules: {  
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			email: {
				required: '邮箱地址不能为空',
				email: '请输入正确的邮箱地址（例如 7po@7po.com）'
			}
		},
		submitHandler: function(form) {
			$('.msg').show();
			form.onsubmit();
		}
	});
});
</script>
<div id="findpassword">
	<article>
		<h1>奇珀开发者中心帐号-找回密码</h1>
		<p>忘记密码？不要紧，您可以通过注册邮箱重新设定密码，如果您想起密码，<a href="/user/login" name="to_login">点击登录</a></p>
	</article>
	<form action="" method="post">
		<label for="email">电子邮箱地址</label><input type="text" name="email" id="email" value=""/>
		<button name="findpassword" type="submit">提交</button>
		<p class="msg">#{msg}</p>
        #{xsrf_form_html()}
	</form>
</div>