<script>
$(function(){
	//$('#email').inputTip({tip_val:"示例：example@7po.com"});
	$('form').validate({
		errorElement:'em',
		errorClass:'icon_err',
		onkeyup:false,
		rules: {  
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			email: {
				required: '邮箱地址不能为空',
				email: '请输入正确的邮箱地址（例如 7po@7po.com）'
			}
		},
		submitHandler: function(form) {
			$('.msg').show();
			form.onsubmit();
		}
	});
});
</script>
<div id="findpassword">
	<article>
		<h1>奇珀开发者中心帐号-重设密码</h1>
        <p>#{msg}</p>
	</article>
	<form action="" method="post">
		<label for="email">电子邮箱地址</label><input type="text" name="email" id="email" value=""/>
        <div>
            <label>新密码</label>
            <input type="password" name="new_password" value=""/>
        </div>
        <div>
            <label>新密码确认</label>
            <input type="password" name="new_password2" value=""/>
        </div>
        <div class="end">
            <button type="submit">重设密码</button>
        </div>
		<p class="msg">#{msg}</p>
        #{xsrf_form_html()}
	</form>
</div>